.img-thumbnail {
    border: 0;
    padding: 0;
}

body {
    
    background-image: url(../images/diamonds_water_1050x700.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    color: white;
}

h1 {
    font-size: 85px;
    font-family: 'Kaushan Script', cursive;
    font-weight: bold;
    /* -webkit-box-shadow: -1px 5px 19px 5px rgba(255,255,255,0.65), -1px 5px 19px 5px rgba(189, 77, 189, 0.65);  */
}

img:hover {

        border:5px solid white;
    
}

#alert {

    color: yellow;
}